<div class="pageSeries">
    <h1>Séries</h1>
    <table class="tableConteudoSeries">
        <thead>
            <td><b>Nome</b></td>
            <td><b>Resumo</b></td>
            <td><b>Lançamento</b></td>
        </thead>
        <tbody>
            <tr *ngFor="let Serie of Series">
                <td>{{ Serie.name }}</td>
                <td>{{ Serie.abstract }}</td>
                <td>{{ Serie.release | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <div>
                        <button type="button" [routerLink]="['/series/update', Serie._id]">Atualizar</button>
                        <button type="button" (click)="deleteSerie(Serie._id)">Apagar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
