<div class="container">
    <h2>Criar Série</h2>
    <form action="post" #frm="ngForm" (ngSubmit)="criar(frm)">
        <div class="form-group">
            <label for="name">Nome: </label><br>
            <input type="text" placeholder="Insira o nome" name="name" [(ngModel)]="serie.name" required />
        </div>
        <br><br>
        <div class="form-group">
            <label for="abstract">Resumo: </label><br>
            <input type="text" placeholder="Insira o resumo" name="abstract" [(ngModel)]="serie.abstract" required />
        </div>
        <br><br>
        <div class="form-group">
            <label for="release">Data de Lançamento: </label><br>
            <input type="date" placeholder="Insira a data de lançamento" name="release" [(ngModel)]="serie.release"
                required />
        </div>
        <br><br>
        <button type="submit" [disabled]="frm.invalid">Salvar</button>
    </form>
</div>